* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: white;
}

/* ===============================
   NAVBAR PROFESIONAL
   =============================== */
.navbar {
    width: 100%;
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: relative;
}

.ManchaGym {
    color: white;
    text-decoration: none;
}

.ManchaGym:hover {
    color: aqua;

}

.nav-logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-links a:hover {
    color: aqua;
}

/* Título */
.sup-title {
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
}

/* Contenedor */
.suplementos-container {
    max-width: 1300px;
    margin: 50px auto 150px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    padding: 0 40px;
}

/* Cards */
.sup-card {
    background: #1c1c1c;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.sup-card:hover {
    transform: scale(1.05);

}

/* IMÁGENES COMPLETAS SIN RECORTES */
.sup-card img {
    width: 100%;
    height: 180px;      /* igual que Rutina */
    object-fit: cover;  /* ocupa TODA la caja */
    display: block;
}


.sup-card h3 {
    margin: 15px 0 5px 0;
    font-size: 25px;
}

.sup-card span {
    font-size: 14px;
    color: aqua;
}

.sup-card p {
    padding: 0 15px;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.4;
}

/* ===============================
   RESPONSIVE NAVBAR (MISMO QUE CARRUSEL)
   =============================== */
@media(max-width: 991px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
    }
}