* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    /* Fondo con un degradado blanco semitransparente encima de la imagen */
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
        url('/Assets/Images/ManchaGymlogo.png');

    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita */
    background-size: cover;
    /* La imagen cubre toda la pantalla */
    background-attachment: fixed;
    /* La imagen queda fija al hacer scroll */
}


/* NAVBAR IGUAL QUE LA PRINCIPAL */
.navbar {
    width: 100%;
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.ManchaGym{
    color: white;
    text-decoration: none;
}


.ManchaGym:hover {
    color: aqua;

}

.nav-logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: aqua;
}

/* TÍTULO */
.perfil-title {
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
    color: black;
}

/* CONTENEDOR */
.perfil-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 120px; /* separa la tarjeta del footer */
}

/* TARJETA */
.perfil-card {
    background: black;
    padding: 30px;
    width: 450px;
    border-radius: 12px;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

/* Usuario dentro de la tarjeta */
.user-box {
    display: inline-block;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 25px;
    font-size: 18px;
}

.perfil-card h3 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 8px 0 15px 0;
    border-radius: 8px;
    border: none;
    font-size: 17px;
}

button {
    width: 100%;
    padding: 12px;
    background: aqua;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

button:hover {
    background: #00e0e0;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
}

/* RESPONSIVE */
@media(max-width: 600px) {

    .perfil-card {
        width: 90%;
    }

    .perfil-title {
        font-size: 34px;
    }
}
/* ===============================
   RESPONSIVE NAVBAR (MISMO QUE CARRUSEL)
   =============================== */
@media(max-width: 991px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
    }
}

