* {
    margin: 0%;
    padding: 0%;
}


body {

     background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
                url('/Assets/Images/ManchaGymlogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    padding: 20px;
    background-color: aqua;
    border-radius: 8px;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: mostrar 0.25s ease-out;
    text-align: center;
}

#popupNo {
    background-color: aqua;
    border-radius: 8px;
    border-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: mostrar 0.25s ease-out;
}



@keyframes mostrar {
    from {
        transform: translateY(-200px);
    }
}