
.header {
    background-color: white;
    text-align: center;
    font-style: italic;


}

.navbar {
    background-color: grey;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 10px 20px;
}

.navbar .logo {
    width: 80px;
    height: auto;
    padding-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    color: orange;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-box {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.hidden {
    display: none;
}

