*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.contenedor {
  width: 100%;
   max-width: 1000px;
    min-height: 100vh;
    width: 100%;
    margin: 5px auto;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
}

.contenedor .header {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 40px;
}

.contenedor .contenido{
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contenedor .contenido_2{
    background-color: violet;
    grid-columns:3/4;
    
}

.footer{
      grid-column-start: 1;
    grid-column-end: 4;
}

